<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="">
        <meta name="description" content="{{ meta.seo.description }}">
        <meta name="keyword" content="{{ meta.seo.keyword }}">
        <meta name="canonical" content="{{ meta.seo.canonical }}">
        <meta name="crsf_token" content="{{ csrf_active() }}">
        <title>{{ meta.seo.title }}</title>
        {{ css(meta.asset.css) }}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
        <!--[if lt IE 9]> <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->
    </head>

    <body>
        <!-- Main wrapper -->
        <div class="page-wrapper flex-row align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End Wrapper -->
        {{ js(meta.asset.js) }}
    </body>
</html>