{% extends 'layout/default.twig' %}
{% import 'library/marco/alert/flash.twig' as marco_flash %}

{% block content %}
    <div class="card">
        <div class="card-header border border-top-0 border-right-0 border-left-0">
            {{ msg('3.1', 'Category root') }}
        </div>
        <div class="card-body">
            {{ marco_flash.show('message') }}

            <form method='post' class='j-form' action='{{ url("#{base_url}/root/modify") }}'>
                {{ form_crsf() }}

                {% include 'component/common/table/option.twig' with {
                    option : form.master.mode,
                    base_url: "#{base_url}/root",
                    name: 'category[option]'
                }%}

                <table class="j-data_table table table-bordered">
                    <thead>
                        <tr>
                            <th class='text-center'>
                                <label class="checkbox--container">
                                    <input class='j-checkAll' type='checkbox' data-target='j-checkItem'/>
                                    <span class="checkmark"></span>
                                </label>
                            </th>
                            <th>{{ msg('3.4', 'Mode') }}</th>
                            <th>{{ msg('3.3', 'Code') }}</th>
                            <th class='w-75'>{{ msg('3.2', 'Title') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data %}
                            <tr>
                                <td class='text-center'>
                                    <label class="checkbox--container">
                                        <input class='j-checkItem' type='checkbox' name='category[id][]' value='{{ item.id }}'/>
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td>{{ mode(item.mode, 'category.root.master.mode') }}</td>
                                <td>
                                    <a href='{{ url("#{base_url}/#{item.name}") }}' title='{{ item.name }}'>
                                        {{ item.name }}
                                    </a>
                                </td>
                                <td>
                                    <a href='{{ url("#{base_url}/root/#{item.id}/edit") }}' title='{{ item.title }}'>
                                        {{ item.title }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock %}