{% extends 'layout/default.twig' %}
{% import 'library/marco/alert/flash.twig' as marco_flash %}

{% block content %}
    <div class="card">
        <div class="card-header border border-top-0 border-right-0 border-left-0">
            {{ msg('10.1', 'Group') }}
        </div>
        <div class="card-body">
            {{ marco_flash.show('message') }}
            <form method='post' class='j-form' action='{{ url("#{base_url}/modify") }}'>
                {{ form_crsf() }}

                {% include 'component/common/table/option.twig' with {
                    option : form.master.mode,
                    base_url: base_url,
                    name: 'group[option]'
                }%}

                <table class="j-data_table table table-bordered">
                    <thead>
                        <tr>
                            <th class='text-center'>
                                <label class='checkbox--container'>
                                    <input class='j-checkAll' type='checkbox' data-target='j-checkItem'/>
                                    <span class="checkmark"></span>
                                </label>
                            </th>
                            <th>{{ msg('10.4', 'Mode') }}</th>
                            <th class='w-75'>{{ msg('10.2', 'Title') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data %}
                            <tr>
                                <td class='text-center'>
                                    <label class="checkbox--container">
                                        <input class='j-checkItem' type='checkbox' name='group[id][]' value='{{ item.id }}' data-target="{{ 'group-value-%s'|format(item.id) }}"/>
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td>{{ mode(item.mode, 'group.master.mode') }}</td>
                                <td>
                                    <a href='{{ url("#{base_url}/#{item.id}/edit") }}' title='{{ item.title }}'>
                                        {{ item.title }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock %}